{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red35\green37\blue38;\red234\green234\blue234;\red87\green29\blue21;
}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs26 \cf2 \cb3 \expnd0\expndtw0\kerning0
<configuration>\
    <system.webServer>\
        <handlers>\
            <!-- indicates that the app.js file is a node.js application to be handled by the iisnode module -->\
            <add name=\cf4 "iisnode"\cf2  path=\cf4 "server.js"\cf2  verb=\cf4 "*"\cf2  modules=\cf4 "iisnode"\cf2  />\
        </handlers>\
        </system.webServer>\
</configuration>}